@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;800;900&display=swap');

:root{
    --primary-bg: #141410;
    --primary-font-color: #ffffff;
    --secondary-bg: #171516;
    --lemon-bg: #c9f31d;
    --secondary-font-color:#999999;
    --primary-font-size: 16px;
    --primary-width:1350px;
}

html {
    --scrollbarBG: transparent;
    --thumbBG: var(--lemon-bg);
  }
  body::-webkit-scrollbar {
    width: 5px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }

body{
    font-family: 'Kanit', sans-serif;
    background-color: var(--primary-bg);
    scrollbar-color: var(--lemon-bg);
    color: var(--primary-font-color);
    font-size: var(--primary-font-size);
    font-weight: 200;
}

/* common Css */
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    margin: 0;
    padding: 0;

}

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scrollbar-color: var(--lemon-bg);


}
ul li a{
    text-decoration: none;
}
ul li{
    list-style: none;
}

.fixed-width{
    width: var(--primary-width);
    margin: 0 auto;
}
.fixed-padding-top{
    padding-top:120px;
}
.fixed-margin-top{
    margin-top:120px;
}
.fixed-padding-bottom{
    padding-bottom: 120px;
}

/* Nav part start */
nav {
    display: flex;
    padding: 0 2.5%;
    border-bottom: 1px solid #262525;
    height: 90px;
}
.navLink {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #262525;
    border-right: 1px solid #262525;
}
.navLink ul li{
    display: inline;
}
.navLink ul li a{
    font-size: var(--primary-font-size);
    color: var(--primary-font-color);
    padding: 20px;

}
.navLink ul li:hover a{
    color: var(--lemon-bg);
}


.navEnd > button {
    background: var(--lemon-bg);
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.navEnd > div > p {
    background: #000;
    width: 24px;
    height: 2px;
    margin: 6px;
}
/* Navbar end */

/* hero area start */


.navEnd > div {
    cursor: pointer;
    background: #ffff;
    padding: 8px;
    border-radius: 5px;
    margin-left: 10px;
}

.navEnd {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > div {
    margin-right: 38px;
}
.nav-logo {
    display: flex;
    align-items: center;
}

/* hero-part start */
.banner-bg{
    background-image: url(./images/banner-bg.png);
    position: center fixed;
    background-repeat: no-repeat;
}
.hero{
    width: var(--primary-width);
    margin:0 auto;
    display: flex;
    height: 873px;
    position: relative;
}
.hero-content {
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.hero-content h5 {
    color: #fff;
    text-decoration: none;
    font-size: 27px;
    font-style: normal;
}
a.contentLink > h5 {
    max-width: 438px;
    text-underline-position: under;
    font-weight: 200;
}

a.contentLink > h5 > i {
    transform: rotate(314deg);
}

a.contentLink {
    text-decoration: underline white;
    text-underline-position: under;
}
.hero-content h4 {
    font-size: 110px;
    font-weight: 500;
    padding: 80px 0;
}
.hero-content h4 span {
    color: var(--lemon-bg);
}
.hero-content h4{
    line-height: 120px;
}
.banner-play-bar {
    display: flex;
    gap: 17px;
    align-items: center;
}

.banner-play-bar a i {
    color: #ffffff;
    font-size: 25px;
}

.banner-play-bar a {height: 65px;width: 65px;border: 1px solid #fff;border-radius: 50%;display: flex;align-items: center;justify-content: center;text-decoration: none;}

.banner-play-bar p {
    width: 10px;
}

.banner-right-absolute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 18px;
}

ul.social-icon {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

ul.social-icon li {
    height: 45px;
    width: 45px;
    background-color: #121212;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-right-absolute {
    position: absolute;
    right: -200px;
    top: 0;
    display: flex;
    justify-content: center;
    height: 100%;
}

.banner-right-absolute h6 {
    font-weight: 100;
    font-size: 16px;
    /* display: flex; */
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.hero-img {
    position: relative;
    height: 100%;
}

.hero-img img {
    position: absolute;
    bottom: 0;
}
ul.social-icon {margin-top: 111px;}
.banner-left-absolute {
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    left: -220px;
}

.banner-left-absolute p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.banner-left-absolute h6 {
    writing-mode: vertical-lr;
    font-weight: 200;
    font-size: 16px;
    margin-top: 145px;
}

/* Branding Area */
.branding{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: var(--lemon-bg);
    color: var(--secondary-bg);
    gap:54px
}
.branding p{
    font-size: 35px;
    font-weight: 500;
}
.info-title {
    text-align: center;
}

.info-title h2 {
    margin: 30px 0 100px;
    font-size: 43px;
}
.info-content ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.info-link {
    margin-bottom: 110px;
    display: flex;
    gap: 27px;
    justify-content: center;
    align-items: center;
}
.info-link button {
    padding: 20px 41px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #1d1d1d;
    color: #ffffff;
    font-weight: 400;
}
.about, .experience, .education, .skills {
    background: #191a19;
    border-radius: 10px;
    display: flex;
    gap: 77px;
    padding: 74px;
} 


.about-content h4 {
    font-size: 45px;
    font-weight: 500;
}

.about-content >p {
    font-size: 19px;
    line-height: 33px;
    color: #999999;
    padding: 26px 0;
}

.about-content-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.about-content-box div p span {
    display: block;
    color: #999999;
    margin-bottom: 10px;
}

.about-content-box div {
    background: #1d1d1d;
    border-radius: 7px;
    padding: 41px;
    cursor: pointer;
    border: 1px solid #1d1d1d;
}

.about-content-box div:hover {
    border: 1px solid var(--lemon-bg);
}
.experience-content-box div {
    height: 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999999;
    cursor: pointer;
}

.experience-content-box div p:last-child {
    font-size: 20px;
    font-weight: 500;
}

.experience-content-box div p:first-child {
    color: var(--lemon-bg);
    font-size: 20px;
}

.experience-content-box div p:last-child span {
    display: block;
    font-size: 16px;
    font-weight: 200;
    color: #999999;
}

.experience-content-box div:last-child {
    border-bottom: 1px solid #999999;
}

.experience-content-box div:hover {
    border-top: 1px solid var(--lemon-bg);
}

.experience-content-box div:last-child:hover {
    border-bottom: 1px solid var(--lemon-bg);
}
.about-content-box.skills-content div {display: flex;gap: 24px;}

.about-content-box.skills-content div p {
    font-size: 18px;
    font-weight: 100;
    color: #999;
}

.about-content-box.skills-content div p span {
    font-size: 39px;
    font-weight: 500;
    color: #ffffff;
}

#experience{
    display: none;
}
#education{
    display: none;
}
#skills{
    display: none;
}

button.active{
    background:var(--lemon-bg);
    color: #000;
}
.awards-content div {
    border-bottom: 1px solid #999999;
}
.awards-content div {
    display: flex;
    justify-content: space-between;
    padding: 31px 0;
    font-size: 22px;
}
.awards-top > p {
    font-size: 40px;
    font-weight: 400;
}
.awards-top > p:last-child {
    font-size: 20px;
    font-weight: 200;
    color: var(--lemon-bg);
    align-self: flex-end;
}
.awards-area {
    padding: 60px 0 150px;
    background: #171918;
}
.feedback-title {
    text-align: center;
}

.feedback-title > p {
    color: var(--lemon-bg);
    font-size: 22px;
    position: relative;
    margin-bottom: 15px;
}

.feedback-title > p:before {
    position: absolute;
    content: "";
    background: var(--lemon-bg);
    left: 35%;
    top: 50%;
    width: 100px;
    height: 2px;
}

.feedback-title > p:after {
    position: absolute;
    content: "";
    background: var(--lemon-bg);
    width: 100px;
    right: 35%;
    top: 50%;
    height: 2px;
}

.feedback-title h4 {
    font-size: 68px;
    font-weight: 300;
    line-height: 89px;
    width: 1090px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.feedback-gellary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px 60px;
}

.feedback-gellary div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.grid-item{
    height: 500px;
}
.grid-item-large{
    height: 600px;
}
/* .img-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.img-2 {
    grid-row-start: -13;
    grid-row-end: -10;
    grid-column-start: 2;
    grid-column-end: 3;
}
.img-3 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}



.img-4 {
    grid-row-start: -10;
    grid-row-end: -8;
    grid-column-start: 2;
    grid-column-end: 3;
}

.img-5 {
    grid-row-start: 5;
    grid-row-end: 8;
}

.img-6 {
    grid-row-start: -8;
    grid-row-end: -6;
    grid-column-start: 2;
    grid-column-end: 3;
} */
.gellary-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-top: 30px;
}

.gellary-title p {
    font-size: 35px;
    font-weight: 300;
}

.gellary-title p span {
    display: block;
    font-size: 18px;
    font-weight: 200;
    color: var(--lemon-bg);
}

.gellary-title i {
    transform: rotate(-45deg);
    font-size: 22px;
}
.gellary-title a {
    color: #ffffff;
    background: #1d1d1d;
    height: 60px;
    width: 60px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.feedback-gellary div:hover a {
    background: var(--lemon-bg);
    color: #000000;
    border-radius: 5px;
}
.feedback-gellary div:hover img {
    border-radius: 0px;
}
button.gallery-btn {
    border: none;
    background: var(--lemon-bg);
    color: #000000;
    font-size: 19px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-top: 160px;
}
.feedback-gellary div:nth-child(3) {
    margin-top: -105px;
}

.feedback-gellary div:nth-child(5) {margin-top: -99px;}

.gallery-btn-grid {
    display: flex;
    width: 100%;
    justify-content: center;
}
.hire-bg{
    background: #161a19;
}
.hire-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hire-content .hire-absolute {
    position: relative;
    font-size: 20px;
    color: var(--lemon-bg);
    left: 130px;
}

.hire-content .hire-absolute::before {
    position: absolute;
    height: 2px;
    background: var(--lemon-bg);
    width: 123px;
    content: "";
    left: -131px;
    top: 50%;
}
.hire-content .hire-title {
    font-size: 60px;
    max-width: 535px;
    margin: 30px 0;
    line-height: 68px;
}

.hire-contact div {
    border-bottom: 1px solid #999999;
    padding: 27px 0;
}

.hire-contact div:first-child {
    border-top: 1px solid #999999;
}

.hire-contact div {
    display: flex;
    gap: 18px;
    align-items: center;
}

.hire-contact div p:first-child {
    background: var(--lemon-bg);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border-radius: 50%;
    font-size: 21px;
}

.hire-contact div p:last-child {
    font-size: 16px;
    color: #999999;
}

.hire-contact div p:last-child span {
    display: block;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}

.hire-contact div:hover {
    border-bottom: 1px solid var(--lemon-bg);
}
.wrapper .row {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;
}

.wrapper .row:first-child {
    border-top: 1px solid #999999;
}

.wrapper .row div:nth-child(2) {
    font-size: 24px;
    font-weight: 300;
}

.wrapper .row div:nth-child(2) span {
    display: block;
    font-size: 40px;
    font-weight: 500;
}

.wrapper .row div:first-child {
    font-size: 20px;
}

.wrapper .row div:nth-child(3) {
    width: 80%;
    line-height: 31px;
}

.wrapper .row div:last-child {
    text-align: right;
    background: #1d1d1d;
    margin-left: 37px;
    height: 70px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .row div:last-child a i {
    transform: rotate(-45deg);
    color: #ffffff;
}

.wrapper .row:hover {
    border-bottom: 1px solid var(--lemon-bg);
}

.wrapper .row:hover div:last-child {
    background: var(--lemon-bg);
    border-radius: 5px;
}

.wrapper .row:hover div:last-child a i {
    color: #000000;
}
.Service-part .feedback-title > p:before {
    left: 33%;
}

.Service-part .feedback-title > p:after {
    right: 33%;
}

.working-process-content {display: flex;gap: 31px;}

.working-process-content div {
    border: 1px solid #262525;
    border-radius: 5px;
    padding: 29px;
    font-size: 20px;
    color: #898989;
}

.working-process-content div h4 {
    font-size: 36px;
    color: #ffff;
}

.working-process-content div ul li:before {background: var(--lemon-bg);content: "";height: 10px;width: 10px;border-radius: 50%;position: absolute;left: 0;margin-top: 10px;}

.working-process-content div ul {
    position: relative;
    margin-top: 22px;
}

.working-process-content div ul li {
    padding-left: 32px;
}

.working-process-content div h4 {
    padding: 10px;
}
.working-process-content {display: flex;gap: 31px;}

.working-process-content div {
    border: 1px solid #262525;
    border-radius: 5px;
    padding: 29px;
    font-size: 20px;
    color: #898989;
}

.working-process-content div h4 {
    font-size: 36px;
    color: #ffff;
}

.working-process-content div ul li:before {background: var(--lemon-bg);content: "";height: 10px;width: 10px;border-radius: 50%;position: absolute;left: 0;margin-top: 10px;}

.working-process-content div ul {
    position: relative;
    margin-top: 22px;
}

.working-process-content div ul li {
    padding-left: 32px;
}

.working-process-content div h4 {
    padding: 10px;
}

.working-process-content div:before {
    clip-path: polygon(44% 11%, 77% 22%, 100% 46%, 100% 100%, 49% 100%, 20% 82%, 9% 59%, 15% 29%);
    background: #121212;
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    bottom: 0;
    right: 0;
}

.working-process-content div {
    position: relative;
}

.working-process-content div:hover:before {
    background: var(--lemon-bg);
}
.working-process-content div:hover {
    border: 1px solid var(--lemon-bg);
}
.working-process-bg{
    background: #191816;
}


.happy-customer-content {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: space-between;
    height: 700px;
    background: #181917;
    padding: 20px;
    border-radius: 10px;
}

.happy-customer-content div:first-child, .happy-customer-content div:last-child {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.happy-customer-content div:last-child img:last-child {
    width: 70px;
    margin-left: 67px;
}

.happy-customer-content div:first-child img:first-child {
    width: 140px;
}
